@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

#sh-wrapper{
	position:fixed;
	bottom:0;
	z-index: 999999;
	height:34px;
	width: 100%;
	background:rgba(93, 76, 76, 0.96);;
	text-align: center;
	-webkit-box-shadow: 0px -2px 16px -1px rgba(0,0,0,0.75);
	box-shadow: 0px -2px 16px -1px rgba(0,0,0,0.75);
}
#sh-wrapper p{
	margin: 5px;
	color: white;
	font-size: 20px;
	height: 20px;
	font-family: 'Open Sans Hebrew', sans-serif;
}
